# Environnements virtuels
venv/
.venv/
env/

# Fichiers de cache Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Dossiers générés par le processus de compilation (Setup Executable)
build/
dist/
*.spec

# Données locales et logs (Optionnel : à retirer si vous souhaitez inclure vos tables JSON de base)
logs/*.log

# Fichiers de configuration des éditeurs de code
.vscode/
.idea/
*.swp
